* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

main {
    height: 90vh;
    width: 100%;
    background: rgb(155, 155, 155);
}

.greet {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.greet img {
    width: 10rem;
}

.greet h4 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.buttons {
    display: flex;
    margin-bottom: 10px;
}

button {
    border-radius: 10%;
    margin: auto;
    padding: 0.25rem;
    background: grey;
    border: 0;
    height: 45px;
    width: 75px;
    color: white;
    font-weight: 700;
}

button:hover {
    background: rgb(105, 105, 105);
}

.gericht {
    width: 90%;
    height: 5vh;
    text-align: center;
    font-size: 1.5rem;
}

.gerichtDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: rgb(73, 73, 73);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}